
@font-face {
  font-family: spaceport;
  src: url("../fonts/Spaceport_2006.otf") format("opentype");
}

$fa-font-path: '../../node_modules/@fortawesome/fontawesome-free/webfonts';

@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";


*{
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  width: 100%;
  background-color: #0a0a0a;
}
