/* 5. Post Feed
/* ---------------------------------------------------------- */

$post-image-size: 240px;
$post-image-size2: 400px;

.df-post-card {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	align-items: stretch;
	background: #000000;
	margin-right: 60px;
	margin-bottom: 60px;
	height: $post-image-size;
	border-left: solid 1px var(--ghost-accent-color);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

	@media (max-width: 1700px) {
		flex-grow: 1;
		height: $post-image-size2;
	}

	@media (max-width: 460px) {
		flex-direction: column;
		height: initial;
		margin-right: 0;
		margin-bottom: 10px;
		width: 100%;
	}

	&__image {
		width: $post-image-size;
		background-size: cover;
		background-position: center;
		flex-shrink: 0;

		@media (max-width: 1700px) {
			height: $post-image-size2;
			width: $post-image-size2;
		}

		@media (max-width: 460px) {
			width: 100%;
			height: $post-image-size;
		}
	}

	&__content {
		padding: 20px;
		width: 365px;
		box-sizing: border-box;

		@media (max-width: 1700px) {
			width: 100%;
		}
	}

	&__meta {
		padding-bottom: 10px;
	}

	&__date {
		font-family: spaceport;
		color: white;
		opacity: 0.4;
	}

	&__title {
		font-family: spaceport;
		color: white;
		font-size: 25px;
		padding-bottom: 10px;
	}

	&__excerpt {
		font-size: 15px;
		font-family: "Source Sans Pro";
		color: #5f5f5f;
		overflow: hidden;
		text-align: justify;
	}
}
