$sidebar-size: 350px;

@mixin desktop-center($size) {
	margin-left: $sidebar-size;
	max-width: $size;

	@media (min-width: ($size + $sidebar-size + $sidebar-size)) {
		margin: auto;
	}

	@media (max-width: 460px) {
		margin: 0;
		max-width: 100%;
	}
}
